.form-style-9{
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 20px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
    height:375px;
}
.form-style-9 ul{
    padding:0;
    margin:0;
    list-style:none !important;
}
.form-style-9 ul li{
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
     list-style:none !important;
     list-style-type: disc;
}
.form-style-9 ul li  .field-style{
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
    width: 49%;
}
.form-style-9 ul li .field-full{
    width: 100%;
}
.form-style-9 ul li input.align-left{
    float:left;
}
.form-style-9 ul li input.align-right{
    float:right;
}
.form-style-9 ul li textarea{
    width: 100%;
    height: 100px;
}
.form-style-9 ul li input[type="button"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}


.form-style-9 input[type="submit"],
.form-style-9 input[type="reset"] {
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#478bf9;
	color:#fff;
	border-radius:2px;
	width:100px;
	border:none;
}


.social-links li {
    display: inline;
    color: rgba(255,255,255,.25);
}

.social-links a {
    font-size: 25px;
}

.social-links li {
    display: inline;
    color: rgba(255,255,255,.25);
}

ul li {
    list-style-type: none;
    float: left;
}

ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 30px;
    border-radius: 20px;
    font-size: 70px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}

.fa-envelope {
    background: #dd4b39;
}

.fa-twitter {
    background: #00aced;
}

.fa-facebook {
    background: #3b5998;
}

.cms_bloc_media a img {
    z-index: 1;
    box-shadow: 0 0 3px black;
    -webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    transition: all .5s cubic-bezier( .6, 2, .4, 1);
}


.cms_bloc_media a:hover {
 color:black;
 }   
  
.cms_bloc_media a img { 
z-index:1;
box-shadow:0 0 3px black;
 -webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
  -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
  transition: all .5s cubic-bezier( .6, 2, .4, 1);
}   
.cms_bloc_media a img:nth-child(3){
clear:left;
 }

 .cms_bloc_media a img:hover{ 
  -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
     -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
         transform: scale(1.5);
         z-index:5;
}

.modal-footer{
  margin-top:0px;
  padding:5px;
  background-color: #3D3D3D;
  color:#C0C0C0;
  text-align: left;
  font-family: 'Roboto',sans-serif;;
}

.modal-footer a{
  color:#C0C0C0;
}

.modal-content {
  position: relative;
  background-color: #3D3D3D;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}

 .lettrine {
  font-size:10%;
  float: left;
  padding: 7px;
}

.modal{
  margin-top:90px;
}

#nos_services{
  margin: 2px 0 10px;
}

.padded{
    padding-left: 35px;
  padding-right: 35px;  
  margin-bottom:70px;
}

.asideproject{
 position: relative;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 14px;
    margin-top:0px;
    text-align: center;
}

#image {
    text-align: center;
  }

#livres{
  margin-bottom:30px;
}

.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 2px solid #ff6d2b;
    text-align:center;
}

#commentaire{
  text-align:center;
}

#prix{
  text-align:center;
}

#disponible{
  text-align:center;
}